<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="css/basic.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
</head>
<body>
<div class="wrap">
    <div class="login">
        <h1>Log-in</h1>
        <div class="login_id">
            <h4>Name</h4>
            <input type="name" name="" id="login_id" placeholder="Name">
        </div>
        <div class="login_pw">
            <h4>Password</h4>
            <input type="password" name="" id="login_pw" placeholder="Password">
        </div>
        <div>
            <a href="kwangJin/signup">회원 가입</a>
            <a href="kwangJin/list">회원 목록</a>
        </div>
        <div class="submit">
            <input type="submit" value="로그인">
        </div>
    </div>
</div>
</body>
</html>